In [7]:
import pandas as pd
import re

In [145]:
data = pd.read_csv('~/iron_yard_hw/adventure-time/adventure_time/atus_data/atusrost_2014/atusrost_2014.dat')
data = data.drop(['TERRP','TXAGE', 'TXRRP', 'TXSEX'],1).head()

activity = pd.read_csv('~/iron_yard_hw/adventure-time/adventure_time/atus_data/atussum_2014/atussum_2014.dat')
activity = activity.drop(['TRYHHCHILD', 'TEAGE', 'TESEX', 'PEEDUCA', 'PTDTRACE', 'PEHSPNON', 'GTMETSTA', 
                          'TELFS', 'TEMJOT', 'TRDPFTPT', 'TESCHENR', 'TESCHLVL', 'TRSPPRES', 'TESPEMPNOT', 'TRERNWA', 
                          'TRCHILDNUM', 'TRSPFTPT', 'TEHRUSLT', 'TUDIARYDAY', 'TRHOLIDAY', 'TRTEC', 'TRTHH'], 1)
activity = activity.rename(columns={'tucaseid': 'TUCASEID'})
activity = pd.melt(activity, id_vars=['TUCASEID', 'TUFINLWGT'], value_vars=['t010101', 't010102', 't010201', 't010299', 't010301','t010399',
                                                    't010401', 't010501', 't019999', 't020101', 't020102', 't020103',
                                                    't020104', 't020199', 't020201', 't020202', 't020203', 't020301',
                                                    't020302', 't020303', 't020399', 't020401', 't020402', 't020499',
                                                    't020501', 't020502', 't020599', 't020601', 't020602', 't020699',
                                                    't020701', 't020799', 't020801', 't020901', 't020902', 't020903',
                                                    't020904', 't020905', 't020999', 't029999', 't030101', 't030102',
                                                    't030103', 't030104', 't030105', 't030106', 't030108', 't030109',
                                                    't030110', 't030111', 't030112', 't030199', 't030201', 't030202',
                                                    't030203', 't030299', 't030301', 't030302', 't030303', 't030399',
                                                    't030401', 't030402', 't030403', 't030404', 't030405', 't030499',
                                                    't030501', 't030502', 't030503', 't030504', 't030599', 't039999',
                                                    't040101', 't040102', 't040103', 't040104', 't040105', 't040106',
                                                    't040108', 't040109', 't040110', 't040111', 't040112', 't040199',
                                                    't040201', 't040203', 't040301', 't040302', 't040303', 't040401',
                                                    't040402', 't040403', 't040404', 't040405', 't040501', 't040502',
                                                    't040503', 't040504', 't040505', 't040506', 't040507', 't040508',
                                                    't040599', 't049999', 't050101', 't050102', 't050103', 't050104',
                                                    't050199', 't050201', 't050202', 't050203', 't050205', 't050301',
                                                    't050302', 't050303', 't050304', 't050305', 't050399', 't050401',
                                                    't050403', 't050404', 't050499', 't059999', 't060101', 't060102',
                                                    't060103', 't060199', 't060201', 't060202', 't060301', 't060302',
                                                    't060303', 't060399', 't060401', 't060403', 't060499', 't069999',
                                                    't070101', 't070102', 't070103', 't070104', 't070105', 't070199',
                                                    't070201', 't079999', 't080101', 't080201', 't080202', 't080203',
                                                    't080301', 't080399', 't080401', 't080402', 't080403', 't080501',
                                                    't080502', 't080601', 't080602', 't080701', 't080702', 't080799',
                                                    't089999', 't090101', 't090103', 't090104', 't090199', 't090201',
                                                    't090202', 't090301', 't090401', 't090501', 't090502', 't090599',
                                                    't099999', 't100101', 't100102', 't100103', 't100199', 't100201',
                                                    't100304', 't100305', 't109999', 't110101', 't110201', 't110299',
                                                    't120101', 't120199', 't120201', 't120202', 't120299', 't120301',
                                                    't120302', 't120303', 't120304', 't120305', 't120306', 't120307',
                                                    't120308', 't120309', 't120310', 't120311', 't120312', 't120313',
                                                    't120399', 't120401', 't120402', 't120403', 't120404', 't120499',
                                                    't120501', 't120502', 't120503', 't120504', 't129999', 't130101',
                                                    't130102', 't130103', 't130104', 't130105', 't130106', 't130107',
                                                    't130108', 't130109', 't130110', 't130112', 't130113', 't130114',
                                                    't130115', 't130116', 't130117', 't130118', 't130119', 't130120',
                                                    't130122', 't130124', 't130125', 't130126', 't130127', 't130128', 
                                                    't130129', 't130130', 't130131', 't130132', 't130133', 't130134',
                                                    't130136', 't130199', 't130202', 't130203', 't130204', 't130205',
                                                    't130206', 't130210', 't130213', 't130214', 't130215', 't130216',
                                                    't130218', 't130219', 't130222', 't130224', 't130225', 't130226',
                                                    't130227', 't130229', 't130231', 't130299', 't130301', 't130302',
                                                    't139999', 't140101', 't140102', 't140103', 't140104', 't140105',
                                                    't149999', 't150101', 't150102', 't150103', 't150104', 't150105',
                                                    't150106', 't150199', 't150201', 't150202', 't150203', 't150204',
                                                    't150299', 't150301', 't150302', 't150401', 't150402', 't150499',
                                                    't150501', 't150601', 't150602', 't150701', 't159999', 't160101',
                                                    't160102', 't160103', 't160104', 't160105', 't160106', 't160107',
                                                    't160108', 't160199', 't169999', 't180101', 't180201', 't180202',
                                                    't180203', 't180204', 't180205', 't180206', 't180207', 't180208',
                                                    't180209', 't180299', 't180301', 't180302', 't180303', 't180304',
                                                    't180305', 't180401', 't180402', 't180403', 't180404', 't180405',
                                                    't180499', 't180501', 't180502', 't180503', 't180504', 't180599',
                                                    't180601', 't180602', 't180603', 't180604', 't180699', 't180701',
                                                    't180702', 't180703', 't180704', 't180799', 't180801', 't180802',
                                                    't180803', 't180804', 't180805', 't180806', 't180807', 't180899',
                                                    't180901', 't180902', 't180903', 't180905', 't180999', 't181001',
                                                    't181002', 't181099', 't181101', 't181201', 't181202', 't181203',
                                                    't181204', 't181205', 't181299', 't181301', 't181302', 't181399',
                                                    't181401', 't181501', 't181599', 't181601', 't181699', 't181801',
                                                    't181899', 't189999', 't500101', 't500103', 't500105', 't500106',
                                                    't500107'])

one_to_one = pd.read_csv('~/iron_yard_hw/adventure-time/adventure_time/atus_data/lexiconwex2014.csv', encoding='ascii')
one_to_one = one_to_one.drop(['Unnamed: 2','Unnamed: 3'], 1)
one_to_one = one_to_one.dropna()

household = pd.read_csv('~/iron_yard_hw/adventure-time/adventure_time/atus_data/atuscps_2014/atuscps_2014.dat')
household = household.drop(['GEPSEUCL', 'GEPSEUST', 'GEREG', 'GESTFIPS', 'GTMETSTA', 'HEHOUSUT', 'HEPHONEO', 'HETELAVL', 
                'HETELHHD', 'HRHHID', 'HRHHID2', 'HRHTYPE', 'HRINTSTA', 'HRLONGLK', 'HRMIS', 'HRMONTH', 'HRYEAR4', 
                'HUBUS', 'HUBUSL1', 'HUBUSL2', 'HUBUSL3', 'HUBUSL4', 'HUFINAL', 'HUINTTYP', 'HUPRSCNT', 'HURESPLI', 
                'HUTYPB', 'HUTYPC', 'HUTYPEA', 'HXFAMINC', 'HXHOUSUT', 'HXPHONEO', 'HXTELAVL', 'HXTELHHD', 'HXTENURE', 
                'OCCURNUM', 'PEABSPDO', 'PEABSRSN', 'PEAFEVER', 'PEAFNOW', 'PEAFWHN1', 'PEAFWHN2', 'PEAFWHN3', 
                'PEAFWHN4', 'PECOHAB', 'PECYC', 'PEDADTYP', 'PEDIPGED', 'PEDISDRS', 'PEDISEAR', 'PEDISEYE', 
                'PEDISOUT', 'PEDISPHY', 'PEDISREM', 'PEDW4WK', 'PEDWAVL', 'PEDWAVR', 'PEDWLKO', 'PEDWLKWK', 'PEDWRSN', 
                'PEDWWK', 'PEDWWNTO', 'PEERN', 'PEERNCOV', 'PEERNH1O', 'PEERNH2', 'PEERNHRO', 'PEERNHRY', 'PEERNLAB', 
                'PEERNPER', 'PEERNRT', 'PEERNUOT', 'PEERNWKP', 'PEFNTVTY', 'PEGR6COR', 'PEGRPROF', 'PEHGCOMP', 
                'PEHRACT1', 'PEHRACT2', 'PEHRACTT', 'PEHRAVL', 'PEHRFTPT', 'PEHRRSN1', 'PEHRRSN2', 'PEHRRSN3', 
                'PEHRUSL1', 'PEHRUSL2', 'PEHRUSLT', 'PEHRWANT', 'PEHSPNON', 'PEIO1COW', 'PEIO1ICD', 'PEIO1OCD', 
                'PEIO2COW', 'PEIO2ICD', 'PEIO2OCD', 'PEJHRSN', 'PEJHWANT', 'PEJHWKO', 'PELAYAVL', 'PELAYDUR', 
                'PELAYFTO', 'PELAYLK', 'PELKAVL', 'PELKDUR', 'PELKFTO', 'PELKLL1O', 'PELKLL2O', 'PELKLWO', 'PELKM1', 
                'PELNDAD', 'PELNMOM', 'PEMARITL', 'PEMJNUM', 'PEMJOT', 'PEMLR', 'PEMNTVTY', 'PEMOMTYP', 'PEMS123', 
                'PENATVTY', 'PENLFACT', 'PENLFJH', 'PENLFRET', 'PEPARENT', 'PERET1', 'PERRP', 'PESCHENR', 'PESCHFT', 
                'PESCHLVL', 'PESEX', 'PESPOUSE', 'PRABSREA', 'PRAGNA', 'PRCITFLG', 'PRCITSHP', 'PRCIVLF', 'PRCOW1', 
                'PRCOW2', 'PRCOWPG', 'PRDISC', 'PRDISFLG', 'PRDTCOW1', 'PRDTCOW2', 'PRDTHSP', 'PRDTIND1', 'PRDTIND2', 
                'PRDTOCC1', 'PRDTOCC2', 'PREMP', 'PREMPHRS', 'PREMPNOT', 'PRERELG', 'PRERNHLY', 'PRERNWA', 'PREXPLF', 
                'PRFAMNUM', 'PRFAMREL', 'PRFAMTYP', 'PRFTLF', 'PRHERNAL', 'PRHRUSL', 'PRIMIND1', 'PRIMIND2', 
                'PRINUYER', 'PRIOELG', 'PRJOBSEA', 'PRMARSTA', 'PRMJIND1', 'PRMJIND2', 'PRMJOCC1', 'PRMJOCC2', 
                'PRMJOCGR', 'PRNAGPWS', 'PRNAGWS', 'PRNLFSCH', 'PRNMCHLD', 'PRPERTYP', 'PRPTHRS', 'PRPTREA', 
                'PRSJMJ', 'PRTAGE', 'PRTFAGE', 'PRUNEDUR', 'PRUNTYPE', 'PRWERNAL', 'PRWKSCH', 'PRWKSTAT', 'PRWNTJOB', 
                'PTDTRACE', 'PTHR', 'PTOT', 'PTWK', 'PUABSOT', 'PUBUS1', 'PUBUS2OT', 'PUBUSCK1', 'PUBUSCK2', 
                'PUBUSCK3', 'PUBUSCK4', 'PUCHINHH', 'PUDIS', 'PUDIS1', 'PUDIS2', 'PUDWCK1', 'PUDWCK2', 'PUDWCK3', 
                'PUDWCK4', 'PUDWCK5', 'PUERN2', 'PUERNH1C', 'PUHRCK1', 'PUHRCK12', 'PUHRCK2', 'PUHRCK3', 'PUHRCK4', 
                'PUHRCK5', 'PUHRCK6', 'PUHRCK7', 'PUHROFF1', 'PUHROFF2', 'PUHROT1', 'PUHROT2', 'PUIO1MFG', 'PUIO2MFG', 
                'PUIOCK1', 'PUIOCK2', 'PUIOCK3', 'PUIODP1', 'PUIODP2', 'PUIODP3', 'PUJHCK1', 'PUJHCK2', 'PUJHCK3', 
                'PUJHCK4', 'PUJHCK5', 'PUJHDP1O', 'PULAY', 'PULAY6M', 'PULAYAVR', 'PULAYCK1', 'PULAYCK2', 'PULAYCK3', 
                'PULAYDT', 'PULINENO', 'PULK', 'PULKAVR', 'PULKDK1', 'PULKDK2', 'PULKDK3', 'PULKDK4', 'PULKDK5', 
                'PULKDK6', 'PULKM2', 'PULKM3', 'PULKM4', 'PULKM5', 'PULKM6', 'PULKPS1', 'PULKPS2', 'PULKPS3', 
                'PULKPS4', 'PULKPS5', 'PULKPS6', 'PUNLFCK1', 'PUNLFCK2', 'PURETOT', 'PUSLFPRX', 'PUWK', 'PXABSPDO', 
                'PXABSRSN', 'PXAFEVER', 'PXAFNOW', 'PXAFWHN1', 'PXAGE', 'PXCOHAB', 'PXCYC', 'PXDADTYP', 'PXDIPGED', 
                'PXDISDRS', 'PXDISEAR', 'PXDISEYE', 'PXDISOUT', 'PXDISPHY', 'PXDISREM', 'PXDW4WK', 'PXDWAVL', 
                'PXDWAVR', 'PXDWLKO', 'PXDWLKWK', 'PXDWRSN', 'PXDWWK', 'PXDWWNTO', 'PXEDUCA', 'PXERN', 'PXERNCOV', 
                'PXERNH1O', 'PXERNH2', 'PXERNHRO', 'PXERNHRY', 'PXERNLAB', 'PXERNPER', 'PXERNRT', 'PXERNUOT', 
                'PXERNWKP', 'PXFNTVTY', 'PXGR6COR', 'PXGRPROF', 'PXHGCOMP', 'PXHRACT1', 'PXHRACT2', 'PXHRACTT', 
                'PXHRAVL', 'PXHRFTPT', 'PXHRRSN1', 'PXHRRSN2', 'PXHRRSN3', 'PXHRUSL1', 'PXHRUSL2', 'PXHRUSLT', 
                'PXHRWANT', 'PXHSPNON', 'PXINUSYR', 'PXIO1COW', 'PXIO1ICD', 'PXIO1OCD', 'PXIO2COW', 'PXIO2ICD', 
                'PXIO2OCD', 'PXJHRSN', 'PXJHWANT', 'PXJHWKO', 'PXLAYAVL', 'PXLAYDUR', 'PXLAYFTO', 'PXLAYLK', 
                'PXLKAVL', 'PXLKDUR', 'PXLKFTO', 'PXLKLL1O', 'PXLKLL2O', 'PXLKLWO', 'PXLKM1', 'PXLNDAD', 'PXLNMOM', 
                'PXMARITL', 'PXMJNUM', 'PXMJOT', 'PXMLR', 'PXMNTVTY', 'PXMOMTYP', 'PXMS123', 'PXNATVTY', 'PXNLFACT', 
                'PXNLFJH', 'PXNLFRET', 'PXPARENT', 'PXRACE1', 'PXRET1', 'PXRRP', 'PXSCHENR', 'PXSCHFT', 'PXSCHLVL', 
                'PXSEX', 'PXSPOUSE', 'QSTNUM', 'TRATUSR', 'PRDASIAN', 'PEPDEMP1', 'PTNMEMP1', 'PEPDEMP2', 'PTNMEMP2', 
                'PXPDEMP1', 'PXNMEMP1', 'PXPDEMP2', 'PXNMEMP2'], 1)

'TUCASEID': case id #

'TULINENO': person line number

'GEDIV': geological location

'HEFAMINC': Family Income

'HETENURE':  are your living quarters owned, rented for cash, or occupied ATUS-CPS File
without payment of cash rent?

'HRNUMHOU': number of people in the household

'PEEDUCA': highest level of education

In [3]:
household.head()

         TUCASEID  TULINENO  GEDIV  HEFAMINC  HETENURE  HRNUMHOU  PEEDUCA
0  20140101140005         1      6         7         1         2       35
1  20140101140005         2      6         7         1         2       39
2  20140101140007         1      8         1         2         1       39
3  20140101140011         1      2        11         2         2       37
4  20140101140011         2      2        11         2         2       39

'TUCASEID': case id #

'TULINENO': person line number

'TEAGE': age

'TESEX': gender

In [4]:
data.head()

         TUCASEID  TULINENO  TEAGE  TESEX
0  20140101140007         1     20      2
1  20140101140007         2     19      1
2  20140101140007         3      0      1
3  20140101140011         1     16      2
4  20140101140011         2     33      2

'TUCASEID': case id #

'TUFINLWGT': weight

'variable': activity number

'value': minutes spent

In [146]:
def removet(self):
    return re.findall(r'\d+', self)[0]

In [147]:
activity.variable = activity.variable.map(removet)

In [148]:
activity.head()

         TUCASEID        TUFINLWGT variable  value
0  20140101140007   4891315.826760   010101   1145
1  20140101140011  23147368.359655   010101    540
2  20140101140028  20941823.429044   010101    555
3  20140101140063   2505899.417166   010101    780
4  20140101140168  15928231.823165   010101    645

'6-digit activity code'

'Activity'

In [134]:
def addzero(self):
    if len(str(self)) < 6:
        return '0'+self
    else:
        return self

In [136]:
one_to_one['6-digit activity code'] = one_to_one['6-digit activity code'].map(addzero)

/Users/MatthewBarnette/my_projects/.direnv/python-3.5.0/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [137]:
one_to_one

    6-digit activity code                                           Activity
0                  010101                                           Sleeping
1                  010102                                      Sleeplessness
2                  010199                                  Sleeping, n.e.c.*
3                  010201             Washing, dressing and grooming oneself
4                  010299                                  Grooming, n.e.c.*
5                  010301                           Health-related self care
6                  010399                                 Self care, n.e.c.*
7                  010401                        Personal/Private activities
8                  010499                       Personal activities, n.e.c.*
9                  010501                               Personal emergencies
10                 010599                 Personal care emergencies, n.e.c.*
11                 019999                             Personal Care, n.e.c.*
12                 020101                                  Interior cleaning
13                 020102                                            Laundry
14                 020103          Sewing, repairing, & maintaining textiles
15                 020104               Storing interior hh items, inc. food
16                 020199                                Housework, n.e.c.*
17                 020201                        Food and drink preparation
18                 020202                                  Food presentation
19                 020203                          Kitchen and food clean-up
20                 020299  Food & drink prep, presentation, & clean-up, n...
21                 020301        Interior arrangement, decoration, & repairs
22                 020302                   Building and repairing furniture
23                 020303                                Heating and cooling
24                 020399  Interior maintenance, repair, & decoration, n....
25                 020401                                  Exterior cleaning
26                 020402        Exterior repair, improvements, & decoration
27                 020499  Exterior maintenance, repair & decoration, n.e...
28                 020501                  Lawn, garden, and houseplant care
29                 020502                         Ponds, pools, and hot tubs
..                    ...                                                ...
435                180999  Travel related to using household services, n....
436                181001        Travel related to using government services
437                181002  Travel related to civic obligations & particip...
438                181099  Travel rel. to govt svcs & civic obligations, ...
439                181101              Travel related to eating and drinking
440                181199     Travel related to eating and drinking, n.e.c.*
441                181201    Travel related to socializing and communicating
442                181202  Travel related to attending or hosting social ...
443                181203             Travel related to relaxing and leisure
444                181204           Travel related to arts and entertainment
445                181205                  Travel as a form of entertainment
446                181299  Travel rel. to socializing, relaxing, & leisur...
447                181301  Travel related to participating in sports/exer...
448                181302  Travel related to attending sporting/recreatio...
449                181399  Travel related to sports, exercise, & recreati...
450                181401    Travel related to religious/spiritual practices
451                181499  Travel rel. to religious/spiritual activities,...
452                181501                     Travel related to volunteering
453                181599    Travel related to volunteer activities, n.e.c.*
454                181601                      Travel related to phone calls
455                181699                Travel rel. to phone calls, n.e.c.*
456                181801           Security procedures related to traveling
457                181899  Security procedures related to traveling, n.e.c.*
458                189999                                 Traveling, n.e.c.*
459                500101                    Insufficient detail in verbatim
460                500103                      Missing travel or destination
461                500105  Respondent refused to provide information/"non...
462                500106                                 Gap/can't remember
463                500107                Unable to code activity at 1st tier
464                509999                                Data codes, n.e.c.*

[465 rows x 2 columns]